@font-face {
    font-family:'dejavu_sans';
    src:url('fonts/dejavusans-webfont.eot');
    src:url('fonts/dejavusans-webfont.eot?#iefix') format('embedded-opentype'),
     local('DejaVuSans'),
         url('fonts/dejavusans-webfont.woff2') format('woff2'),
         url('fonts/dejavusans-webfont.woff') format('woff'),
         url('fonts/dejavusans-webfont.ttf') format('truetype'),
         url('fonts/dejavusans-webfont.svg#dejavu_sansbook') format('svg');
    font-weight:400;
    font-style:normal;}

@font-face {
    font-family:'dejavu_sans';
    src:url('fonts/dejavusans-bold-webfont.eot');
    src:url('fonts/dejavusans-bold-webfont.eot?#iefix') format('embedded-opentype'),
     local('DejaVuSans-Bold'),
         url('fonts/dejavusans-bold-webfont.woff2') format('woff2'),
         url('fonts/dejavusans-bold-webfont.woff') format('woff'),
         url('fonts/dejavusans-bold-webfont.ttf') format('truetype'),
         url('fonts/dejavusans-bold-webfont.svg#dejavu_sansbold') format('svg');
    font-weight:700;
    font-style:normal;}

@font-face {
    font-family:'dejavu_sans';
    src:url('fonts/dejavusans-oblique-webfont.eot');
    src:url('fonts/dejavusans-oblique-webfont.eot?#iefix') format('embedded-opentype'),
     local('DejaVuSans-Oblique'),
         url('fonts/dejavusans-oblique-webfont.woff2') format('woff2'),
         url('fonts/dejavusans-oblique-webfont.woff') format('woff'),
         url('fonts/dejavusans-oblique-webfont.ttf') format('truetype'),
         url('fonts/dejavusans-oblique-webfont.svg#dejavu_sansoblique') format('svg');
    font-weight:400;
    font-style:italic;}

:root {
	--orange: #ff5f2f;
	--green: #37dcae;
	--blue: #64A2E9;
	--lightblue: #eaf6ff;
	--bluetext: #419aff;
	--gray: #b9b9b9;
	--mediumgray: #c1c1c1;
	--lightgray: #f3f3f3;
	--graytext: #6d6d6d;
}


html{
	font-size:  16px;
}

body {
	margin: 0;
	padding: 30px 40px;
	/*background-color: #c4b3ef;*/
	/*background-color: #88D4E4;*/
}

body, input, button {
	font-family:"dejavu_sans", calibri, sans-serif;
	/*line-height:1.4;*/
	-webkit-text-size-adjust: 100%;
	font-size: 1rem;	
}


h1 {
    text-align: center;
	margin-top: 0;
	color: var(--orange);
    font-family: 'IM Fell Great Primer', serif;
    letter-spacing: 1px;
  }

header i {
	margin-left: 1rem;
	color: #ffff3a;
	color: #fff;
	font-size: 1.8rem;
    -webkit-text-stroke: 2px var(--green);
    -text-stroke: 2px var(--green);
}

h3 {
    text-align: center;
	margin-top: 0;
	font-size: 1rem;
}

a, a:visited {
	text-decoration: none;
	color: var(--green);
	font-weight: 600;
}


nav {
	color: var(--green);
    text-shadow: 0.02em 0.02em 0.02em white;
}

#root {
	border: 2px solid var(--blue);
	padding: 2rem;
	min-height: calc(100vh - 128px - 60px - 35px);
    align-content: flex-start;
    box-sizing: border-box;
    background-color: #fff;
	display: grid;
	grid-template-columns: 1fr;
	gap: 40px;
	justify-content: center;
	align-items: center;
    justify-items: center;
}

section {
  /*margin-top: 2rem;*/
  display: flex;
  justify-content: center;
  align-items: center;
	border: 2px solid var(--blue);
	padding: 2rem;
	min-height: calc(100vh - 128px - 60px);
    align-content: flex-start;
    box-sizing: border-box;
    background-color: #fff;
}


fieldset {
  color: white;
}

form {
  padding: 0 2rem;
  margin: 1rem 0;
}
.formBox {
  display: flex;
  flex-direction: row;
  margin: 1rem;
}
.formBox label {
  flex-basis: 20ch;
  text-align: end;
  padding-right: 2rem;
  padding-inline-end: 2rem;
}
.formBox input {
  flex-basis: auto;
  position: relative;
}
.formBox button {
  /*text-align: center;*/
  margin: auto;
}
legend {
  margin: 0 4rem;
  padding: 0 1rem;
}





#languageSelection, nav {
	display: grid;
	/*grid-template-columns: repeat(3, 1fr);*/
	gap: 2rem;
    /*justify-content: space-around;*/
    /*font-size: 1.1rem;*/
}

#languageSelection select option {
    font-size: 1.1rem;
}

#languageSelection {
	grid-template-columns: repeat(2, 1fr);
}

#languageSelection div {
	text-align: center;
}

nav {
	grid-template-columns: repeat(3, 1fr);
	margin-top: 20px;
}

.twoColumn {
	grid-template-columns: 1fr 1fr;
}

nav div {
	border: 2px solid var(--lightblue);
	border-bottom: none;
	padding: 3px;
	background: var(--lightblue);
	text-align: center;
	box-sizing: border-box;
	position: relative;
	font-weight: 600;
}

.active {
	border: 2px solid var(--blue);
	border-bottom: none;
	background-color: white;
	color: #0055ff;
	color: var(--orange);
}



.active:after {
	content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: white;
}


.rtl {
	direction: rtl;
}

/* start screen */

/*.startScreen {
	display: grid;
	grid-template-columns: 1fr;
	gap: 40px;
	justify-content: center;
	align-items: center;
    justify-items: center;
}*/

select {
	outline: none;
}


/* card quiz */



.card {
	width: 300px;
	height: 100px;
	border: 2px solid var(--blue);
	display: grid;
	justify-content: center;
	align-items: center;
    justify-items: center;
    margin: auto;
    grid-template-columns: 1fr;
    padding: 1rem;
    /*box-shadow: 1px 1px 2px lightgrey;*/
}

.card div {
	width: 100%;
    text-align: center;
}

.card span:first-child {
	float: left;
}

input {
	padding: 0 0 1px 0;
    border-width: 0 0 2px 0;
    border-color: var(--gray);
	outline: 0;
}

.card > div input {
	text-align: center;
}

.card > div:last-child span {
    margin-bottom: 2px;
}

.targetLanguage, .targetLanguage input {
	color: var(--bluetext);
	border-color: var(--blue);
}

.sourceLanguage, .sourceLanguage input {
	color: var(--graytext);
	border-color: var(--gray);
}
div.sourceLanguage {
	min-height: 27px;
	min-width: 12rem;
}


#actions {
	/*height: 100px;*/
	/*margin: auto;*/
	width: 300px;
	/*display: flex;*/
    /*justify-content: space-around;*/
    justify-content: center;
    justify-items: center;
	align-items: center;
    display: grid;
    gap: 1rem 2rem;
    grid-template-columns: max-content max-content;
}


#actions.oneColumn {
	grid-template-columns: max-content;
}

#actions p {
	margin: 0;
}

/* new vocab */



#newVocabInputs {
	/*width: 60%;*/
	display: grid;
	grid-template-columns: 1fr 1fr 3fr 3fr;
	gap: .3rem 2rem;
}

#myVocab {
	/*width: 60%;*/
	display: grid;
	grid-template-columns: 1fr 1fr 3fr 3fr;
	gap: .3rem 2rem;
}

.number,.delete {
	/*text-align: center;*/
}

.delete * {
	margin: auto;
	display: block;
	visibility: hidden;
}

.delete:hover * {
	/*margin: auto;*/
	visibility: visible;
}

.incorrect {
	color: red;
}

/*option:hover,
option:focus,
option:active,
option:checked {
	font-weight: 600;
	color:  #0055ff;
}*/

button {
	padding: 4px 6px;
	background-color: white;
	outline: none;
	border: 2px solid #0055ff;
	border: 2px solid var(--green);
	border-radius: 6px;
	box-shadow: 1px 1px 2px var(--mediumgray);
}


button:hover, button:focus {
	box-shadow: 1px 1px 2px var(--mediumgray),
	  inset 1px 1px 2px var(--mediumgray),
	  inset -1px -1px 2px white;
	background-color: var(--lightgray);
	border-color: var(--green);
}

button:active {
	background-color: #e7e7e7;
    box-shadow: 1px 1px 2px var(--mediumgray),
      inset 1.5px 1.5px 3px var(--gray),
      inset -1.5px -1.5px 3px white;
}

footer {
	text-align: center;
	margin-top: 1rem;
}



